body {
    overflow-x: hidden;
}

.hidden {
    display: none;
}

.main {
     .side_menu {
        background: white;
        position: fixed;
        bottom: 100px;
        left: 20px;
        list-style: none;
        display: none;
        border:1px solid #ccc;
    }

    .side_menu li {
        width: 80px;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid #ccc;
        text-align: center;
        position: relative;
    }

    .side_menu li span {
        position: absolute;
        background: #6699AC;
        left: 0;
        top: 0;

        width: 80px;
        height: 50px;
        line-height: 50px;
        display: none;
            color: #fff;

       
    }

    margin: auto;
    background: #fff;
    .banner {
        position: relative;
        height: 420px;
        width: 1173px;
        margin: auto;
        .toPrev {
            display: none;
            width: 40px;
            height: 64px;
            background: #19E5E0;
            border-radius: 5px;
            left: 210px;
            top: 42%;
            position: absolute;
            z-index: 999;
            cursor: pointer;
            background: #86ADD7;
            div {
                width: 17px;
                height: 30px;
                margin: 18px 0 0 10px;
                background: url("../img/arrows.png") no-repeat;
            }
        }
        .toNext {
            display: none;
            width: 40px;
            height: 64px;
            background: #86ADD7;
            border-radius: 5px;
            right: 41px;
            line-height: 64px;
            top: 42%;
            position: absolute;
            cursor: pointer;
            z-index: 999;
            div {
                width: 17px;
                height: 30px;
                margin: 18px 0 0 10px;
                background: url("../img/arrows.png") no-repeat 0 -30px;
            }
        }
        .carousel {
            width: 1920px;
            height: 420px;
            position: absolute;
            left: -375px;
            .carousel-indicators {
                li {
                    display: inline-block;
                    width: 24px;
                    height: 4px;
                    background: #fff;
                    margin: 0 3px;
                    cursor: pointer;
                    border-radius: 0;
                    border: 0;
                }
                .active {
                    background: #69C;
                }
            }
            .carousel-control.left,
            .carousel-control.right {
                display: none;
            }
        }
        .multi_menu {
            position: absolute;
            width: 200px;
            height: 421px;
            background: #F5F5F5;
            z-index: 888;
            left: 0;
            &>li {
                width: 200px;
                height: 60px;
                background: #F5F5F5;
                &>img {
                    width: 20px;
                    height: 20px;
                    margin: 20px;
                    float: left;
                }
                &>span {
                    display: inline-block;
                    width: 140px;
                    height: 100%;
                    line-height: 60px;
                    float: left;
                    font-size: 16px;
                    color: #333333;
                }
                .sub_menu {
                    position: absolute; 
                    display: none;
                    width: 270px;
                    height: 420px;
                    top: 0;
                    left: 200px;
                    background: #fff;
                    filter: alpha(opacity=98);
                    opacity: .98;
                    padding-top: 20px;
                    float: left;
                    li {
                        height: 40px;
                        margin-bottom: 28px;
                        img {
                            float: left;
                            width: 40px;
                            height: 40px;
                            margin-left: 30px;
                        }
                        span {
                            float: left;
                            display: inline-block;
                            margin-left: 20px;
                            height: 40px;
                            line-height: 40px;
                        }
                    }
                    &:nth-last-of-type(1){
                        margin-bottom: 0;
                    }
                }
                .sub_menu2{
                    left: 470px;
                }
            }
        }
    }
    .products_list {
        width: 1173px;
        margin: auto;
        .hot_sale {
            // float: left;
            width: 1173px;
            height: 441px;
            h4 {
                font-size: 24px;
                font-weight: bolder; // margin-top: 60px;
            }
            .hot_sale_list {
                overflow: hidden;
                .singel_template {
                    width: 270px;
                    margin-right: 27px;
                    float: left;
                    &:nth-last-of-type(1) {
                        margin-right: 0;
                    }
                    img {
                        width: 270px;
                        height: 270px;
                        cursor:pointer;
                    }
                    p {
                        height: 42px;
                        line-height: 42px;
                        margin: 0 33px;
                        color: #333;
                        font-size: 14px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        cursor:pointer;
                        
                    }
                    span {
                        display: block;
                        color: #E73955;
                        font-size: 13px;
                        text-align: center;
                    }
                }
            }
        }
        .products_template_2 {
            // float: left;
            margin-top: 60px;
            width: 1173px;
            height: 680px;
            margin: auto;
            .products_title {
                overflow: hidden;
                margin-bottom: 20px;
                h4 {
                    font-size: 24px;
                    font-weight: bolder;
                    float: left;
                }
                .item {
                    float: right;
                    margin-top: 10px;
                    li {
                        float: left;
                        border-right: 1px solid #956695;
                        &:nth-last-of-type(1) {
                            border: 0;
                        }
                        a {
                            float: left;
                            padding: 0 15px;
                            font-size: 12px;
                        }
                    }
                }
                .more {
                    margin-top: 10px;

                    font-size: 12px;
                    float: right;
                }
            }
            .products_table {
                border-left: 1px solid #e5e5e5;
                border-bottom: 1px solid #e5e5e5;
                overflow: hidden;
                .recommend_ad {
                    float: left;
                    width: 468px;
                    height: 285px;
                    img {
                        width: 468px;
                        height: 285px;
                    }
                }
                .singel_template_2 {
                    /*    display: table-cell;
             text-align: center;
             vertical-align: middle; */
                    border-right: 1px solid #e5e5e5;
                    border-top: 1px solid #e5e5e5;

                    width: 234px;
                    height: 285px; // margin-right: 27px;
                    float: left;
                    padding: 23px;
                    img {
                        // margin: 23px 0 0 23px;
                        width: 188px;
                        height: 188px;
                    }
                    p {
                        height: 42px;
                        line-height: 42px;
                        margin: 0 33px;
                        color: #333;
                        font-size: 14px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                    span {
                        display: block;
                        color: #E73955;
                        font-size: 13px;
                        text-align: center;
                    }
                }
            }
        }
    }
}