.list{
    width: 1170px;
    margin: auto;
    overflow: hidden;
}

.main{
    margin-bottom: 40px;
}

.singel_template {
    width: 265px;
    height: 320px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-top: 40px;
    margin-right: 27px;
    float: left;
    position: relative;
    &:nth-last-of-type(1) {
        margin-right: 0;
    }
    img {
        width: 240px;
        height: 240px;
        cursor: pointer;
        margin-top: 16px;
        margin-left: 16px;
    }
    p {
        height: 42px;
        line-height: 42px;
        margin: 0 33px;
        color: #333;
        font-size: 14px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
    }
    span {
        display: block;
        color: #E73955;
        font-size: 13px;
        text-align: center;
    }
}