<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/list.css">
    <script type="text/javascript" src="/lib/requirejs/require.js" data-main="/js/list"></script>
</head>

<body>
    <div class="header"></div>
    <div class="main">
        <div class="list">
            <script type="text/html" id="singel_template">
                <% for(var i = 0;i<3;i++){%>
                    <%  for(var j=0,len = products.length;j<len;j++) {%>
                        <div class="singel_template">
                            <img src="<%=products[j].imgSrc%>">
                            <span style="display:none"><%=products[i].id%></span>
                            <p><%=products[i].name%></p>
                            <span><%=products[i].price%></span>
                        </div>
                    <%}%>
                <%}%>
            </script>
        </div>
    </div>
    <div class="footer"></div>
</body>

</html>